body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}
 
h1 {
  margin-bottom: 20px;
}
 
.tabela-periodica {
  display: grid;
  grid-template-columns: repeat(18, 50px);
  gap: 5px;
  justify-content: center;
}
 
.elemento {
  background-color: #386ca8;
  color: black;
  border-radius: 6px;
  padding: 8px 5px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
 
.elemento:hover {
  background-color: #4a73b0;
}
 
.info-elemento {
  margin-top: 20px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  display: none;
  text-align: left;
}
 

.nao-metal {
  background-color: #7cbd7c; 
  color: black;
}
 
.gases-nobres {
  background-color: #FF6666; 
  color: black;
}
 
.metais-alcalinos {
  background-color: #FFB347;
  color: black;
}
 
.metais-alcalino-terrosos {
  background-color: #FFD700; 
  color: black;
}
 
.metais-de-transicao {
  background-color: rgb(214, 153, 163);
  color: black;
}
 
.metaloides {
  background-color: #5babb2; 
  color: black;
}
 
.halogenios {
  background-color: #51d6df; 
  color: black;
}
 
.lantanideos {
  background-color: #FF69B4;
  color: black;
}
 
.actinideos {
  background-color: #BA55D3; 
  color: white;
}
.elemento {
  position: relative;
}

.tooltip {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(34, 34, 34, 0.95);
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  font-size: 12px;
  text-align: left;
  width: max-content;
  max-width: 250px;
  white-space: normal;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 10;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.elemento:hover .tooltip {
  opacity: 1;
}

